.section2 {
  background: #ff5a5a;

  .section2-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      color: whitesmoke;
      margin: 30px;
      opacity: 0;
      animation: moveBoxH2 2s ease forwards;
    }

    p {
      color: whitesmoke;
      font-size: 1.3rem;
      width: 65%; /* ajuste pour forcer environ 3 lignes */
      margin: 0 auto; /* centre horizontalement */
      text-align: center; /* aligne chaque ligne au centre */
      line-height: 2; /* espace entre les lignes */
      opacity: 0;
      animation: moveBox 2s ease forwards;
    }

    button {
      padding: 15px 40px;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      color: #ffffff; // $olorBlanche remplacé par blanc
      border-radius: 5px;
      border: 1px solid #ffffff; // $colorBlanche remplacé par blanc
      cursor: pointer;
      margin-top: 40px;
      opacity: 0;
      animation: moveBox 2s ease forwards;

      &:hover {
        background: #ffffff;
        color: #000000; // $colorNoir remplacé par noir
      }
    }
  }
}

@keyframes moveBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveBoxH2 {
  0% {
    font-size: 1rem;
    opacity: 0;
  }
  100% {
    font-size: 3rem;
    opacity: 1;
  }
}