@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background:rgb(41, 51, 49);
}
